<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Sensecovid</title>
	<!--favicon-->
	<link rel="icon" href="../sensecovid/static/image/favicon-32x32.png" type="image/png" />
	<!--plugins-->
	<link href="../sensecovid/static/css/simplebar.css" rel="stylesheet" />
	<!-- <link href="../sensecovid/static/css/perfect-scrollbar.css" rel="stylesheet" /> -->
	<link href="../sensecovid/static/css/metisMenu.min.css" rel="stylesheet" />
	<!-- loader-->
	<link href="../sensecovid/static/css/pace.min.css" rel="stylesheet" />
	<script src="../sensecovid/static/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../sensecovid/static/css/bootstrap.min.css" />
	<!-- Icons CSS -->
	<link rel="stylesheet" href="../sensecovid/static/css/icons.css" />
	<!-- App CSS -->
	<link rel="stylesheet" href="../sensecovid/static/css/app.css" />
	
	<style type="text/css">
		.story_text {
			font-size: 1.2rem;
  			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		}
		.center {
  			text-align: center !important;
		}
		.my_card_title{
			font-weight: bold; 
			font-family:'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif
		}
		
	</style>
</head>

<body class="bg-theme bg-theme2">
	<!-- wrapper -->
	<div class="wrapper">
		<!--sidebar-wrapper-->
		<div class="sidebar-wrapper" data-simplebar="true" id="side_bar">
			<div class="sidebar-header" >
				<div>
					<!-- Left Menu Title -->
					<h4 class="logo-text" id="top_menu">Sensecovid</h4>
				</div>
				<a href="javascript:;" class="toggle-btn ml-auto"> <i class="bx bx-menu"></i>
				</a>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
				<li>
					<a href="/">   <!-- emailbox.html-->
						<div class="parent-icon"><i class="bx bx-home-alt"></i>
						</div>
						<div class="menu-title" name="menu" >Home</div>
					</a>
				</li>
				<li>
					<a href="sentiment">   <!-- emailbox.html-->
						<div class="parent-icon"><i class="bx bx-group"></i>
						</div>
						<div class="menu-title" name="menu">Sentiment</div>
					</a>
				</li>
				<li>
					<a href="credibility">  <!-- chat-box.html-->
						<div class="parent-icon"> <i class="bx bx-analyse"></i>
						</div>
						<div class="menu-title" name="menu">Credibility</div>
					</a>
				</li>
				<li>
					<a href="story">  <!-- file-manager.html-->
						<div class="parent-icon"><i class="bx bx-book-reader"></i>
						</div>
						<div class="menu-title" name="menu">Story</div>
					</a>
				</li>
			</ul>
			<!--end navigation-->
		</div>
		<!--end sidebar-wrapper-->

	
		<!--page-wrapper-->
		<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">
					<!--breadcrumb-->
					<div class="page-breadcrumb d-flex d-md-flex align-items-center mb-3">
						<div class="left-topbar d-flex align-items-center">
							<a href="javascript:;" class="toggle-btn">	<i class="bx bx-menu"></i>
							</a>
						</div>
						<div class="breadcrumb-title pr-3 d-none d-md-flex ">Sensecovid</div>
						<div class="pl-3 d-none d-md-flex">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0 p-0">
									<li class="breadcrumb-item"><i class='bx bxs-chevron-right'>Story Generation</i></a>
									</li>
								</ol>
							</nav>
						</div>
						<div class="ml-auto">
							<div class="butt m-1" id="clock">  </div>
							<a href="story">
								<button type="button" class="btn btn-light m-1" > <i class='bx bx-refresh'></i> </button>	
							</a>
						</div>
					</div>
					<!--end breadcrumb-->
					<div class="row">
						<div class="col-12 col-lg-12 flex-lg-row">
							<!-- <div class="card text-right col-lg-4" style="float:right;"> -->
								<div class="card-title story_text text-right" style="float:right;"> Lastest update: {{last_update_time}} EDT </div>
							<!-- </div> -->
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-lg-6 flex-lg-row " id="story_div">
							<div class="card text-white" >
								<img src="../sensecovid/static/data/background_green.jpg" class="card-img" id="story_1" alt="..." style="width: 100%; height: 300px; ">
								<div class="card-img-overlay" >
									<h3 class="card-title my_card_title">Story About News</h3>
									<hr/>
									<p class="card-text story_text ">{{news_story}}</p>
									<!-- <p class="card-text story_text">Every adult in pennsylvania will qualify for covid 19 vaccines starting april 19 and emergency responders grocery workers and others will be able to set up shots immediately gov tom wolf s administration announced wednesdayresearchers evaluate antibodies that inhibit sars cov 2 rbd variants with a novel assay. coronavirusEvery adult in pennsylvania will qualify for covid 19 vaccines starting april 19 and emergency responders grocery workers and others will be able to set up shots immediately gov tom wolf s administration announced wednesdayresearchers evaluate antibodies that inhibit sars cov 2 rbd variants with a novel assay. coronavirus</p> -->
								</div>
							</div>
							<div class="card text-white">
								<img src="../sensecovid/static/data/background_blue.jpg" class="card-img" id="story_2" alt="..." style="width: 100%; height: 300px;"> 
								<div  class="card-img-overlay">
									<h3 class="card-title my_card_title">Story About Opinions</h3>
									<hr/>
									<p class="card-text story_text">{{opinion_story}}</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6 flex-lg-row"> 
							<div class="card">
								<img src="../sensecovid/static/data/news.jpg" class="card-img-top " alt="...">
								<div class="card-body">
									<h4 class="card-text my_card_title">Top trending tweets in the past minute.</h4>
								</div>
								<ul class="list-group list-group-flush">
									{% for tweet in tweets_content %}
									<li class="list-group-item">{{tweet}}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end page-content-wrapper-->
		</div>
		<!--end page-wrapper-->
		<!--start overlay-->
		<div class="overlay toggle-btn-mobile"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->

		<!--footer -->
		<div class="footer">
			<p class="mb-0">6895 Big Data Analytics | Developed By ct2990 bf2477
			</p>
		</div>
		<!-- end footer -->
	</div>
	
	<!-- JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="../sensecovid/static/js/jquery.min.js"></script>
	<script src="../sensecovid/static/js/popper.min.js"></script>
	<script src="../sensecovid/static/js/bootstrap.min.js"></script>
	<!--plugins-->
	<script src="../sensecovid/static/js/simplebar.min.js"></script>
	<script src="../sensecovid/static/js/metisMenu.min.js"></script>
	<!-- <script src="../sensecovid/static/js/perfect-scrollbar.js"></script> -->
	<!-- App JS -->
	<script src="../sensecovid/static/js/app.js"></script>

	<script>
		function time() {
			var today = new Date((new Date()).getTime());
			var utc = today.getTime() + (today.getTimezoneOffset() * 60000);
			var nyDate = new Date(utc + (3600000 * (-4)));
			var nyhour = nyDate.getHours() < 9 ? ("0" + nyDate.getHours()) : nyDate.getHours();
            var time;
            var day;
            var min;    //= today.getMinutes();
            if(today.getMinutes()<10){
                min = "0" + today.getMinutes();
            }else {
                min = today.getMinutes();
            }
            var second; //= today.getMinutes();
            if(today.getSeconds()<10){
                second = "0" + today.getSeconds();
            }else {
                second = today.getSeconds();
            }
			var strnytime = nyhour + ":" + min + ":" + second + "&nbsp;";
			document.getElementById("clock").innerHTML = (nyDate.getFullYear() + "-" + (nyDate.getMonth() + 1) + "-" + nyDate.getDate() + " " + strnytime + ' EDT');
        }
        var myTime = setInterval("time()", 1000);
	</script>
		
	<script>
		getWidth();
		setTimeout(function (){
			window.addEventListener("resize", function () {
				getWidth();
			});
		},200)
		setTimeout();
		function getWidth(){
			var oDiv=document.getElementById('story_div');
			var story_1=document.getElementById('story_1');
			var story_2=document.getElementById('story_2');
			w = oDiv.clientWidth||oDiv.offsetWidth;
			// document.getElementById('abcde').innerHTML = w;
			if(w > 540){
				story_1.style.height = '300px';
				story_2.style.height = '300px';
			}
			if(w < 480){
				story_1.style.height = '400px';
				story_2.style.height = '400px';
			}

			var Div=document.getElementById('side_bar');
			h = Div.clientWidth||Div.offsetWidth;
			var top_side_div=document.getElementById('top_menu');
			var side_div=document.getElementsByName('menu');
			if(h > 290){
				side_div.forEach(function (element) {
					element.style.fontSize = '26px';
				});
				top_side_div.style.fontSize = '33px';
			}
			if(h < 260){
				side_div.forEach(function (element) {
					element.style.fontSize = '20px';
				});
				top_side_div.style.fontSize = '25px'
			}
		};
	</script>
</body>

</html>